div.container {
    display: flex;

    align-items: center;
    justify-content: center;
    flex-flow: column; 

    width: 100%;
    height: 400px;

    background-color: gray;
}

.display {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 40%;
    background-color: blue;
    color: white;
    font-size: 35px;
}

.btn {
    display: grid;

    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 25% 25%;

    width: 50%;
    height: 60%;
    
    align-self: center;
    justify-self: center;
}

button#apagar-num {
    background-color: red;
    color: white;
    font-size: 25px;
}

button#cancelar-num {
    background-color: yellow;
    color: black;
    font-size: 25px;
}

button#confirmar-num {
    background-color: green;
    color: white;
    font-size: 25px;
}

img {
    width: 100px;
    height: 100px;
}